In [2]:
import pymysql
# 네트워크관리 
conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'acornschool',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()
cur.execute('''CREATE TABLE if not exists pet(
           id INT NOT NULL AUTO_INCREMENT,
           name VARCHAR(20),
           owner VARCHAR(20),
           species VARCHAR(20),
           sex CHAR(1),
           birth DATE,    death DATE,
           PRIMARY KEY (id)) ENGINE = InnoDB AUTO_INCREMENT = 1''')
print(cur.description)
conn.close

None

C:\Users\ICT01_20\Anaconda3\lib\site-packages\pymysql\cursors.py:329: Warning: (1050, "Table 'pet' already exists")
  self._do_get_result()

In [3]:
conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'acornschool',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()
sql = '''INSERT INTO pet (name, owner, species, sex, birth, death)
VALUES(%s,%s,%s,%s,%s,%s)'''

cur.execute(sql, ('유리', 'acorn','고양이','f','2014-1-1','2016-2-1'))

cur.execute(sql, ('귀염', 'acorn','강아지','f','2014-3-1','2016-9-1'))

cur.execute(sql, ('둥이', 'acorn','곰','f','2014-8-1','2018-2-1'))
conn.commit()

cur.executemany(
    '''INSERT INTO pet(name,owner,species,sex,birth,death)VALUES (%s,%s,%s,%s,%s,%s)''',
    [( '대한','민주','cat','f','2001-12-04',None),
    ( '민국','자유','cat','f','2010-03-17',None),
    ( '만세','민주','cat','f','2010-05-13',None),
    ( '하자','민주','cat','m','2015-08-27',None),
    ( '성공','자유','cat','m','2017-08-31','2018-04-29')])
conn.commit()
print(cur.rowcount)
conn.close

5

In [4]:
conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'acornschool',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cursor = conn.cursor()

cursor.execute('select * from pet')        ##RecordSet  생성
print(cursor.rowcount)                    #8 
cursor.description                          #설명 


cursor.fetchone()  #1
cursor.fetchone()  #2
cursor.fetchone()  #3
recs = cursor. fetchmany(2)  #4,5 까지 패치완료 6번째를 가리킨다. 
for rec in recs:
    print(rec)
recs = cursor.fetchall()
for rec in recs:
    print(rec)
cursor.close()
conn.close()

16
{'id': 8, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}
{'id': 9, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'death': None}
{'id': 10, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2015, 8, 27), 'death': None}
{'id': 11, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}
{'id': 14, 'name': '마음이', 'owner': 'acorn', 'species': '백구', 'sex': 'f', 'birth': datetime.date(2018, 1, 2), 'death': datetime.date(2018, 11, 4)}
{'id': 16, 'name': '귀염', 'owner': 'acorn', 'species': '강아지', 'sex': 'f', 'birth': datetime.date(2014, 3, 1), 'death': datetime.date(2016, 9, 1)}
{'id': 17, 'name': '둥이', 'owner': 'acorn', 'species': '곰', 'sex': 'f', 'birth': datetime.date(2014, 8, 1), 'death': datetime.date(2018, 2, 1)}
{'id': 18, 'name': '대한', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 12, 4), 'death': None}
{'id': 19, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}
{'id': 20, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'death': None}
{'id': 21, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2015, 8, 27), 'death': None}
{'id': 22, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}
{'id': 23, 'name': '마음이', 'owner': 'acorn', 'species': '백구', 'sex': 'f', 'birth': datetime.date(2018, 1, 2), 'death': datetime.date(2018, 11, 4)}

In [5]:
# 문제 : 생일이 2015-01-01 이후인 pet을 출력하시오 

conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'acornschool',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cursor = conn.cursor()

cursor.execute('''SELECT *FROM pet WHERE birth >'2015-01-01';''')
row = cursor.fetchall()
for pet in row:
    pet_val = list(pet.values())
    print('ID =%d, Name = %s, 주인 = %s' % (pet_val[0],pet_val[1],pet_val[2]))
    
#문제 : 초심을 유리로  update 하시오
sql = 'update pet set name = %s where name = %s'
cursor.execute(sql,('초심','유리'))
conn.commit()
print(cursor.rowcount)

# 문제 : 유리를 삭제하시오(쿼리를 일반화)

sql = 'delete from pet where name=%s'
cursor.execute(sql,'초심')
conn.commit()
print(cursor.rowcount)
    
    
cursor.close()
conn.close()

ID =10, Name = 하자, 주인 = 민주
ID =11, Name = 성공, 주인 = 자유
ID =14, Name = 마음이, 주인 = acorn
ID =21, Name = 하자, 주인 = 민주
ID =22, Name = 성공, 주인 = 자유
1
1

In [6]:
# 초심을 유리로 update 하시오 


conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'acornschool',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cursor = conn.cursor()

cursor.callproc('pet_select')
if(cursor.rowcount):
    print(cursor.fetchall())
cursor.close()
conn.close()

[{'id': 5, 'name': '귀염', 'owner': 'acorn', 'species': '강아지', 'sex': 'f', 'birth': datetime.date(2014, 3, 1), 'death': datetime.date(2016, 9, 1)}, {'id': 6, 'name': '둥이', 'owner': 'acorn', 'species': '곰', 'sex': 'f', 'birth': datetime.date(2014, 8, 1), 'death': datetime.date(2018, 2, 1)}, {'id': 7, 'name': '대한', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 12, 4), 'death': None}, {'id': 8, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}, {'id': 9, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'death': None}, {'id': 10, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2015, 8, 27), 'death': None}, {'id': 11, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}, {'id': 14, 'name': '마음이', 'owner': 'acorn', 'species': '백구', 'sex': 'f', 'birth': datetime.date(2018, 1, 2), 'death': datetime.date(2018, 11, 4)}, {'id': 16, 'name': '귀염', 'owner': 'acorn', 'species': '강아지', 'sex': 'f', 'birth': datetime.date(2014, 3, 1), 'death': datetime.date(2016, 9, 1)}, {'id': 17, 'name': '둥이', 'owner': 'acorn', 'species': '곰', 'sex': 'f', 'birth': datetime.date(2014, 8, 1), 'death': datetime.date(2018, 2, 1)}, {'id': 18, 'name': '대한', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 12, 4), 'death': None}, {'id': 19, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}, {'id': 20, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'death': None}, {'id': 21, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2015, 8, 27), 'death': None}, {'id': 22, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}]

In [7]:
## 문제 insert를 하는 프로시져를 생성한 다음

# ('마음이', 'acorn', '백구', 'f', '2018- 01- 02', '2018-11-04')

conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'acornschool',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cursor = conn.cursor()


data = ('마음이', 'acorn', '백구', 'f', '2018-01-02', '2018-11-04')
cursor.callproc('pet_insert',data)
conn.commit()

cursor.close()
conn.close()

In [5]:
#문제: 이름을 updqte하는 프로시져를 작성하고 마음이를 마음으로 수정하시오 


conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'acornschool',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cursor = conn.cursor()



data = ('마음이', '마음',0)
cursor.callproc('pet_update',data)
cursor.execute('SELECT @_pet_update_2')
result = cursor.fetchone()
print(result['@_pet_update_2'])
if result['@_pet_update_2']==2:
    print('수정할 이름이 없습니다.')
else:
    print('성공적으로 수정되었습니다. ')

conn.commit()
cursor.close()
conn.close()

0
성공적으로 수정되었습니다.

In [9]:
conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'acornschool',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cursor = conn.cursor()


data = ('귀염', 0)
cursor.callproc('pet_delete',data)
cursor.execute('SELECT @_pet_dalete_1')
result = cursor.fetchone()
print(result['@_pet_dalete_1'])
if result['@_pet_dalete_1'] ==2:
    print('삭제할 이름이 없습니다.')
else:
    print('성공적으로 수정되었습니다.')
          
cursor.close()
conn.close()

None
성공적으로 수정되었습니다.

In [10]:
conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'acornschool',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cursor = conn.cursor()

try :     ## Exception 예외처리 (프로그램은 지속적으로 실행되어야 한다. )
    data = ('귀염', 0)
    cursor.callproc('pet_delete',data)
    cursor.execute('SELECT @_pet_dalete_1')
    result = cursor.fetchone()
    print(result['@_pet_dalete_1'])
    if result['@_pet_dalete_1'] ==2:
        print('삭제할 이름이 없습니다.')
    else:
        print('성공적으로 수정되었습니다.'')

except:
    db.rollback()
cursor.close()
conn.close()

SyntaxError: EOL while scanning string literal (<ipython-input-10-d1f3fbe76594>, line 17)

In [2]:
class Student:
    def __init__(self):
        self.bunho =0
        self.name = ''
        self.kor = 0
        self.mat = 0
        self.eng = 0
        self.total = 0
        self.average = 0
        self.grade = ''
        
    def inputData(self):
        self.name = input('이름을 입력하세요')
        self.kor =eval(input('국어점수'))
        self.mat = eval(input('수학점수'))
        self.eng = eval(input('영어점수'))
        
    def calc_total_average(self):
        self.total = self.kor +self.mat +self.eng
        self.average = round(self.total/3,2)
        self.grade = self.clacSemGrade()
    
    def calcSemGrade(self):
        if self.average >= 90:
            return'A'
        elif self.average >=80:
            return 'B'
        elif self.average >=70:
            return 'C'
        elif self.average >=60:
            return 'D'
        else:
            return'F'
        
    
    def __str__(self):
        return '%5s %5s %6s %6s %7s %7s %s %s' % (self.bunho, self.name, self.kor, self.mat,self.eng, self.total, self.average ,self.grade)
    def __cmp__(self,other):
        return self.name == other. name
    
    def __call__(self,othrt):     ##클래스를 함수처럼 사용하고자 할 때 오버라이딩 
        st = []
        for student in other:
            stp = student()
            stp.name =student[0]
            stp.kor = sutdent[1]
            stp.eng = student[2]
            stp.mat = student[3]
            st.append(stp)
        return st

In [3]:
class maria:
    schoolname = "에이콘 아카데미"
    def __init__(self):
        self.conn = pymysql.connect(host='192.168.1.232', port=3306, user='root',
                           password='123456!',db='acornschool', charset='utf8',
                                    autocommit=True)
        cor = self.conn.cursor()
        
        cor.execute("SHOW TABLES")
        tables = cor.fetchall()
        c = []
        for i in tables:
            if  i == ('sungjuk',):
                c.append(i)
        if len(c) != 0:
            sungjuk_table = "SELECT * FROM sungjuk"
            cor.execute(sungjuk_table)
            print('테이블이 있습니다. ')
        else:
            cor.execute("CREATE TABLE sungjuk (name VARCHAR(20), kor INTEGER(20),  mat INTEGER(20),eng INTEGER(20))")
            print('sungjuk테이블을 생성하였습니다. ')
    def __del__(self):
        self.conn.close()
        

    def selectdb(self ):
        cur = self.conn.cursor()
        cur.callproc("sungjuk_select")
        if (cur.rowcount):
            stu = list(cur.fetchall())
        else :
            stu = 0;
        cur.close()
        return stu
   
    def insertdb(self,name, kor, mat, eng):
        cur = self.conn.cursor()
        args = (name, kor, mat, eng)
        cur.callproc("sungjuk_insert",args)
        cur.close()
       
    def updatedb(self, in_name, up_name):
        cur = self.conn.cursor()
        args = (in_name, up_name, 0)
        cur.callproc("sungjuk_update", args)
        cur.execute('SELECT @_sungjuk_update_2')
        result = cur.fetchone()
        if result==2 :
            print("수정할 이름이 없습니다.")
        else :
            print("성공적으로 수정하였습니다. ")
        cur.close()
        return result 
   
    def deletedb(self,in_name):
        cur = self.conn.cursor()
        args = (in_name, 0)
        cur.callproc("sungjuk_delete", args)
        cur.execute('SELECT @_sungjuk_delete_1')
        result = cur.fetchone()
        if result==2 :
            print("삭제할 이름이 없습니다.")
        else :
            print("성공적으로 삭제하였습니다. ")
        cur.close()
        return result

In [4]:
    
from math import  *
from statistics import *

class Management:
    def __init__(self):
        self.maria = maria()
    def M_select(self):
        data = self.maria.selectdb()
        st = []
        if (data):
            for student in data:
                stp = Student()
                stp.name = student[0]
                stp.kor = student[1]
                stp.eng = student[2]
                stp.mat = student[3]
                st.append(stp)                    
            # studdata=Student((data))
            print(maria.schoolname + "  성적 계산표 ")
            print('%5s %5s %6s %6s %6s %6s  %6s %6s' % ('번 호', '이 름', '국 어',
                    '수 학', '영  어', '총 점', '평 균', '학 점' ))      
            for stud in st:
                print( stud)                     
        else :
            print("데이터가 없습니다. . ")
           
    def M_insert(self):
        stu = Student()
        stu.inputData()
        self.maria.insertdb(stu.name, stu.kor, stu.mat, stu.eng)
    def M_update(self):
        name = input("검색할 이름을 입력하시요")
        replace_name = input("수정할 이름을 입력하시요")
        result=self.maria.updatedb(name, replace_name)  
    def M_delete(self):       
        name = input("검색할 이름을 입력하시요")
        self.maria.deletedb(name)

In [5]:
import sys
class Menu():
    def __init__(self):
        self.manage = Management()
       
    def work(self):
        menu = [ "전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)"]
        manage = Management()
        while 1:
            sel = input(menu)
            if  sel == "1":
                manage.M_select()
                continue
            elif sel == "2":
                manage.M_insert()
                continue       
            elif sel =="3":
                manage.M_update()
                continue
            elif sel =="4":
                manage.M_delete()
            elif sel =="9":
                del(manage)
                sys.exit()
            else :
                print("잘못된 입력입니다. 다시입력 하시요")
                continue
           
menu = Menu()
menu.work()

테이블이 있습니다.
테이블이 있습니다.
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']2
이름을 입력하세요현
국어점수1
수학점수2
영어점수3

C:\Users\ICT01_20\Anaconda3\lib\site-packages\pymysql\cursors.py:276: Warning: (1366, "Incorrect string value: '\\xED\\x98\\x84' for column 'name' at row 1")
  self._query(q)

['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']1
에이콘 아카데미  성적 계산표
  번 호   이 름    국 어    수 학   영  어    총 점     평 균    학 점
    0     6    ???      2       1       0 0
    0     7    ???      1       1       0 0
    0     8    ???      1       1       0 0
    0     9    ???      1       1       0 0
    0    10    gus      2       1       0 0
    0    11      ?      2       1       0 0
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']9

SystemExit:

C:\Users\ICT01_20\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
class maria:
    schoolname = "에이콘 아카데미"
    def __init__(self):
        self.conn = pymysql.connect(host='192.168.0.152', port=3306, user='root',
                           password='acorn1234',db='acornschool', charset='utf8',
                                    autocommit=True)
        cor = self.conn.cursor()
        cor.execute("SHOW TABLES")
        tables = con.fetchall()
        c = []
        for i in tables:
            if  i == ('sungjuk',):
                c.append(i)
        if len(c) != 0:
            sungjuk_table = "SELECT * FROM sungjuk"
            cor.execute(sungjuk_table)
            print('테이블이 있습니다. ')
        else:
            cor.execute("CREATE TABLE sungjuk (name VARCHAR(20), kor INTEGER(20),  mat INTEGER(20),eng INTEGER(20))")
            print('sungjuk테이블을 생성하였습니다. ')
    def __del__(self):
        self.conn.close()

    def selectdb(self ):
        cur = self.conn.cursor()
        cur.callproc("student_select")
        if (cur.rowcount):
            stu = list(cur.fetchall())
        else :
            stu = 0;
        cur.close()
        return stu
   
    def insertdb(self,name, kor, mat, eng):
        cur = self.conn.cursor()
        args = (name, kor, mat, eng)
        cur.callproc("student_insert",args)
        cur.close()
       
    def updatedb(self, in_name, up_name):
        cur = self.conn.cursor()
        args = (in_name, up_name, 0)
        cur.callproc("student_update", args)
        cur.execute('SELECT @_student_update_2')
        result = cur.fetchone()
        if result==2 :
            print("수정할 이름이 없습니다.")
        else :
            print("성공적으로 수정하였습니다. ")
        cur.close()
        return result 
   
    def deletedb(self,in_name):
        cur = self.conn.cursor()
        args = (in_name, 0)
        cur.callproc("student_delete", args)
        cur.execute('SELECT @_student_delete_1')
        result = cur.fetchone()
        if result==2 :
            print("삭제할 이름이 없습니다.")
        else :
            print("성공적으로 삭제하였습니다. ")
        cur.close()
        return result

In [ ]:
from math import  *
from statistics import *

class Management:
    def __init__(self):
        self.maria = maria()
    def M_select(self):
        data = self.maria.selectdb()
        st = []
        if (data):
            for student in data:
                stp = Student()
                stp.name = student[0]
                stp.kor = student[1]
                stp.eng = student[2]
                stp.mat = student[3]
                st.append(stp)                    
            # studdata=Student((data))
            print(maria.schoolname + "  성적 계산표 ")
            print('%5s %5s %6s %6s %6s %6s  %6s %6s' % ('번 호', '이 름', '국 어',
                    '수 학', '영  어', '총 점', '평 균', '학 점' ))      
            for stud in st:
                print( stud)                     
        else :
            print("데이터가 없습니다. . ")
           
    def M_insert(self):
        stu = Student()
        stu.inputData()
        self.maria.insertdb(stu.name, stu.kor, stu.mat, stu.eng)
    def M_update(self):
        name = input("검색할 이름을 입력하시요")
        replace_name = input("수정할 이름을 입력하시요")
        result=self.maria.updatedb(name, replace_name)  
    def M_delete(self):       
        name = input("검색할 이름을 입력하시요")
        self.maria.deletedb(name)