In [42]:
import pymysql
# 네트워크관리 
conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'PEOPLE',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()
cur.execute('''CREATE TABLE if not exists personal2( 
            id  INT NOT NULL AUTO_INCREMENT,
            name VARCHAR(30),
            tell VARCHAR(30),
            address VARCHAR(30),
            sex CHAR(2),
            birth DATE, 
            PRIMARY KEY (id)) ENGINE = InnoDB AUTO_INCREMENT = 1''')
print(cur.description)
conn.close

None

In [156]:
import pymysql
# 네트워크관리 
conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'PEOPLE',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()

val = '''INSERT INTO personal2 (name, tell, address, sex , birth)
VALUES(%s, %s, %s, %s, %s)'''

cur.execute(val, ('진욱', '010-2113-8534', '서귀포', 'M', '1994-8-8'))
cur.execute(val, ('신혁', '010-2222-2222', '대구', 'M', '1991-2-2'))
cur.execute(val, ('주현', '010-3333-3333', '제주', 'M', '1994-3-3'))
cur.execute(val, ('서윤', '010-4444-4444', '서울', 'F', '1994-1-1'))
cur.execute(val, ('하림', '010-5555-5555', '제주', 'F', '1996-1-6'))

conn.commit() ## 수정하거나 뭔가 추가할떄마다 해줘야하는게 바로 이 커밋!!


### 아래의 방식을 이용하면 한번에 많이 넣을수 있다. 
cur.executemany(
    '''INSERT INTO personal2(name, tell, address, sex, birth)VALUES(%s, %s, %s, %s, %s)''',
    [('욱진', '111-1111-1111','강원도','M', '2000-9-9'),
     ('혁신', '222-2222-2222', '부산','M','1888-8-8'),
     ('현주', '333-3333-3333', '세종','F', '2003-6-6'),
     ('윤서', '444-4444-4444', '거제','F', '2303-6-9')])

conn.commit()
print(cur.rowcount)
conn.close

4

In [157]:
## INSERT 하는 PROCEDURE 를 생성

conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'PEOPLE',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()

data = ('진수', '777-7777-7777', '경기', 'M', '1999-9-9')
cur.callproc('personal2_insert', data)
conn.commit()

cur.close()
conn.close

In [158]:
conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'PEOPLE',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()

cur.execute('select * from personal2')
print(cur.rowcount)
cur.description

recs = cur.fetchall()
for rec in recs:
    print(rec)
    
cur.close()
conn.close()

10
{'id': 101, 'name': '진욱', 'tell': '010-2113-8534', 'address': '서귀포', 'sex': 'M', 'birth': datetime.date(1994, 8, 8)}
{'id': 102, 'name': '신혁', 'tell': '010-2222-2222', 'address': '대구', 'sex': 'M', 'birth': datetime.date(1991, 2, 2)}
{'id': 103, 'name': '주현', 'tell': '010-3333-3333', 'address': '제주', 'sex': 'M', 'birth': datetime.date(1994, 3, 3)}
{'id': 104, 'name': '서윤', 'tell': '010-4444-4444', 'address': '서울', 'sex': 'F', 'birth': datetime.date(1994, 1, 1)}
{'id': 105, 'name': '하림', 'tell': '010-5555-5555', 'address': '제주', 'sex': 'F', 'birth': datetime.date(1996, 1, 6)}
{'id': 106, 'name': '욱진', 'tell': '111-1111-1111', 'address': '강원도', 'sex': 'M', 'birth': datetime.date(2000, 9, 9)}
{'id': 107, 'name': '혁신', 'tell': '222-2222-2222', 'address': '부산', 'sex': 'M', 'birth': datetime.date(1888, 8, 8)}
{'id': 108, 'name': '현주', 'tell': '333-3333-3333', 'address': '세종', 'sex': 'F', 'birth': datetime.date(2003, 6, 6)}
{'id': 109, 'name': '윤서', 'tell': '444-4444-4444', 'address': '거제', 'sex': 'F', 'birth': datetime.date(2303, 6, 9)}
{'id': 110, 'name': '진수', 'tell': '777-7777-7777', 'address': '경기', 'sex': 'M', 'birth': datetime.date(1999, 9, 9)}

In [159]:
# UPDATE 하는 PROCEDURE  를 생성


conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'PEOPLE',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)

cur= conn.cursor()

data = ('신혁' , '혁수', 0)
cur.callproc('personal2_update',data)
cur.execute('SELECT @_personal2_update_2')
result = cur.fetchone()
print(result['@_personal2_update_2'])
if result['@_personal2_update_2'] == 2:
    print('수정할 이름이 없습니다. ')
else:
    print('성공적으로 수정되었습니다. ')
    
conn.commit()
cur.close()
conn.close()

0
성공적으로 수정되었습니다.

In [155]:
conn = pymysql.connect(host = '192.168.1.232',
                     user = 'root', port = 3306, password ='123456!', db = 'PEOPLE',
                     charset = 'utf8mb4', use_unicode = True,
                                    cursorclass = pymysql.cursors.DictCursor)
cur = conn.cursor()

data = ('진욱', 0)
cur.callproc('personal2_delete',data)
cur.execute('SELECT @_personal2_delete_1')
result = cur.fetchone()
print(result['@_personal2_delete_1'])
if result['@_personal2_delete_1'] == 2:
    print('수정할 이름이 없습니다. ')
else:
    print('성공적으로 수정되었습니다. ')
    

conn.commit()
cur.close()
conn.close()

0
성공적으로 수정되었습니다.