In [1]:
## 정규표현식, 데이터 전처리

일일이 하나씩 데이터를 처리하면 너무 힘드니까 패턴으로 처리 따라서 고속으로 처리가 가능 
모든 언어에서 똑같은 방식으로 지원

In [9]:
smiles = 'C(=N)(N)n.C(=0)(0)0'
print(smiles[0])
print(smiles[1])
print(smiles[2])
print(smiles[3])
print(smiles[4])
print(smiles[:-10])
print(smiles[-4:-2])
print(smiles[-4:])
print(smiles[3:-2])

C
(
=
N
)
C(=N)(N)n
(0
(0)0
N)(N)n.C(=0)(0

In [11]:
print('C:\\\\nowhere')
print(r'C:\\nowhere')
print(u'Hello, World!')

C:\\nowhere
C:\\nowhere
Hello, World!

In [12]:
import pandas as pd
monte = pd.Series(['Graham Chapman', 'John cleese', 'Terry Gilliam', 'Eric Idle', 'Terrt Jones',
                  'Michase Pallin'])

In [13]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terrt jones
5    michase pallin
dtype: object

In [14]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    14
dtype: int64

In [16]:
monte.str.startswith('T')     # 문자열의 처음 시작이 T로 시작하는가?

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [18]:
monte.str.split(',')

0    [Graham Chapman]
1       [John cleese]
2     [Terry Gilliam]
3         [Eric Idle]
4       [Terrt Jones]
5    [Michase Pallin]
dtype: object

In [22]:
monte.str.split('a')

0    [Gr, h, m Ch, pm, n]
1           [John cleese]
2        [Terry Gilli, m]
3             [Eric Idle]
4           [Terrt Jones]
5      [Mich, se P, llin]
dtype: object

## 정규표현식
- []: 선택 + 여러개

In [27]:
monte.str.extract('([^A-Z]+)')

            0
0      raham
1  ohn cleese
2       erry
3        ric
4       errt
5     ichase