In [ ]:
##40

limt= int(input())
friend= int(input())
count = 0


for i in range(friend)
    if limit<= 50:

In [ ]:
lim = int(input())
n = int(input())
f  = []
for i in range (n):
    f.append(int(input()))
print(f)

total = 0
for i in f:
    if total +i <= im:
    
        total+= i
        count+=1
print(count)

In [ ]:
lim = int(input())
n = int(input())
total = 0
count = 0

for i in range (n):
    f = int(input())
    if total+f <= lim:
        total+=f
        count +=1
print(count)

In [ ]:
#소수판별 41
n = input()
a = 2
while True:
    if n % a == 0:
        break
    else :

In [ ]:
def sol(n):
    i = 2
    while i<n:
        if n%i == 0:
            break
        i+=1
    if i == n:
        print('YES')
    else:
        pritn('NO')

In [ ]:
import calendar
print(calendar.calendar(2020))

In [ ]:
#날짜 구하기


import datetime

m = int(input())
n = int(input())
def 날짜(a,b):
    c = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT','SUN']
    return c[datetime.date(2020,a,b).weekday()]

print(날짜(m,n))

In [ ]:
b = int(input())
a =[]

while b:
    a.append(b%2)
    b=int()
   

    .reverse()
print()

In [ ]:
n = int(input())
b = []

while n:
    b.append(str(n%2))
    n = int(n/2)
b.reverse()
             
             
print(' '.join(b))

In [2]:
n = int(input())
a = int(input())

print(bin(a),'+',bin(n))

1
1
0b1 + 0b1

In [6]:
a = list(input())
out = 0

for i in a:
    out +=int(i)
    
    print(out)

1233
1
3
6
9

In [7]:
n = input()
total = 0
for i in n:
    total += int(i)

1234

In [9]:
#진행형 리스트

n = list(input())
print(sum([int(i) for i in n]))

1234
10

In [11]:
import time
time.time()

1572077590.4955773

In [14]:
a = 0
for i in list(range(1,21)):
    a += int(i)
    
print(a)

120

In [25]:
#46

# for i in range(15):
#     f.append(str(i))


f= ''.join([str(i) for i in range(10,16)])

total = 0
f=''.join(f)
for i in f:
    total += int(i)
print(total)

21

In [31]:
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]

print(set(people))

len(set(people))

{('이준호', '01050342904'), ('이호상', '01051442904'), ('이호', '01050443904'), ('이호준', '01050442903'), ('이준', '01050412904')}

5

In [34]:
a = 'AAABBBcccddd'
b = []

for i in a:
    if i.islower():
        b.append(i.upper())
    else:
        b.append(i.lower())
        
print(''.join(b))

aaabbbCCCDDD

In [35]:
a = '10 9 8 7 6 5 4 3 2 1'

In [36]:
#버블정렬


def bubble(n, data):
	for i in range(n-1):
		for j in range(n-i-1):
			if data[j] > data[j+1]:
				빈칸을 채워주세요
	for i in range(n):
		print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)

SyntaxError: invalid syntax (<ipython-input-36-dd3a76faeb13>, line 8)

In [47]:
def 병합정렬(입력리스트):
    입력리스트길이 = len(입력리스트)
    if 입력리스트길이 <= 1:
        return 입력리스트
    중간값 = 입력리스트길이 // 2
    그룹_하나 = 병합정렬(입력리스트[:중간값])
    그룹_둘 = 병합정렬(입력리스트[중간값:])
    결과값 = []

    while (그룹_하나) and (그룹_둘) :
        if (그룹_하나[0]< 그룹_둘[0]):
            결과값.append(그룹_하나.pop(0))
        else:
            결과값.append(그룹_둘.pop(0))

    while 그룹_하나:
        결과값.append(그룹_하나.pop(0))
    while 그룹_둘:
        결과값.append(그룹_둘.pop(0))
    return 결과값

주어진리스트 = input().split(' ')
주어진리스트 = [i for i in 주어진리스트]

print(병합정렬(주어진리스트))

4432433 44 3333 22 1
['1', '22', '3333', '44', '4432433']