In [3]:
a = 3
if a > 1:
        print("a is grater than 1")

a is grater than 1

In [5]:
for a in [1,2,3]:
    print(a)

1
2
3

In [7]:
i = 0
while i < 3:
    i = i + 1
    print(i)

1
2
3

In [37]:
"""
def add(a,b):
    return a+b

add(3,4)
"""

'\ndef add(a,b):\n    return a+b\n\nadd(3,4)\n'

In [42]:
a = 0o177
int(a)

127

In [45]:
a=2
b=3
a**b

8

In [48]:
7/4

1.75

In [50]:
7//4

1

In [53]:
food = "Python's favorite food is perl"

food

"Python's favorite food is perl"

In [55]:
food = 'Python's favorite food is perl'

food

SyntaxError: invalid syntax (<ipython-input-55-0efbc62447bc>, line 1)

In [58]:
say = ' "Pythons is very easy." he says."'

say

' "Pythons is very easy." he says."'

In [263]:
 food = 'Python\'s favorite food is perl'
 say = "\"Python is very easy.\" he says."
say

'"Python is very easy." he says.'

In [266]:
a = '''life is short so you need to Python'''
print(a)

life is short so you need to Python

In [105]:
jinwook = '''
life is short
so you need to Python'''

print(jinwook)

life is short
so you need to Python

In [113]:
jinwook = "life is short \nso \tyou need to Python"

print(jinwook)

life is short
so 	you need to Python

In [115]:
head = 'python'
tail = 'is fun!'
head + tail

'pythonis fun!'

In [267]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [269]:
print("%"*50)
print('super jinwook')
print("@"*50)

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
super jinwook
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [119]:
a = "life is too short"
len(a)

#len 문자열 길이 구하기

17

In [270]:
a = "life is too short, you need Python"
a[0]
a[2]
a[-0]

'l'

In [273]:
a = "'life is too short, so you need Ptyhon'"
a[-1]

"'"

In [146]:
a = "Life is too short, you need Python"
b = a[0]+a[1]+a[2]+a[3]
b
print(b)
a[0:3]

Life

'Lif'

In [155]:
a = "Life is too short, you need Python"

print(a[:17])
print(a[19:])
print(a[:])

Life is too short
you need Python
Life is too short, you need Python

In [275]:
a = "Life is too short, you need Python"

a[19:22]

'you'

In [167]:
a = "20191022sunny"
year = a[:4]
date = a[:8]
weather = a[8:]
print(year)
print(date)
print(weather)

2019
20191022
sunny

In [173]:
a = 'Cha jen wook '
a[0:5]+'i'+a[6:]

'Cha jin wook '

In [175]:
"I eat %d soondooboo" % 3

'I eat 3 soondooboo'

In [178]:
"I eat %s soondooboo" %"three"

'I eat three soondooboo'

In [181]:
number = 3
"I eat %d soondooboo" % number

'I eat 3 soondooboo'

In [185]:
"Loading complete %s%%" %99

'Loading complete 99%'

In [187]:
"Loading complete %f%%" %99.99

'Loading complete 99.990000%'

In [200]:
"Cha %10s jinwook" %"super"

a = "Cha      "
print(len(a))

b = "      "
print(len(b))

9
6

In [204]:
"%0.9f" % 3.14195234214

'3.141952342'

In [209]:
"%0.14f" % 3.141592653158818181818

'3.14159265315882'

In [212]:
"I eat {} apples, and {} banana" .format(3,4)

'I eat 3 apples, and 4 banana'

In [214]:
"I ate {} apples, and {} banana and {} chocolate.".format(3,4,5)

'I ate 3 apples, and 4 banana and 5 chocolate.'

In [276]:

"I ate {number} apples every {day}days".format(number=3,day=7)

'I ate 3 apples every 7days'

In [278]:
"I studied {num} in {loc}".format(loc = 'kor', num = 7)

'I studied 7 in kor'

In [221]:
number=3
day=7
"I ate {0} apples every {1}days".format(number,day)

'I ate 3 apples every 7days'

In [280]:
number = 5 
day = 7
weather = "sunny"
year = 2019
location = "jeju"
print("I live in {} today I ate {} apples every\n {}days today's weather is {}".format(location,number,day,weather))

I live in jeju today I ate 5 apples every
 7days today's weather is sunny

In [281]:
a = "{0:>10}".format("hi")

print(len(a))
print(a)

10
        hi

In [259]:
"{0:^50}".format("jinwook")

'                     jinwook                      '

In [282]:
"{0:j^20}".format("CHAJINWOOK")

'jjjjjCHAJINWOOKjjjjj'

In [286]:
a = "{0:<20}".format("hello")
print(a)
print(len(a))

hello
20

In [315]:
a = 1.23456789
"{0:0.3f}".format(a)

'1.235'

In [321]:
>>> y = 1.23456789
>>> "{0:0.4f}".format(y)

'1.2346'

In [324]:
loc = 'kor'
num = 7
f'I ive in {loc} {num}years '

'I ive in kor 7years '

In [337]:
a = {'name':'차진욱', 'age':30}
b = {'name':'차명은', 'age':36}
c = {'name':'차미란', 'age':38}
print(f'나의 이름은 {a["name"]}입니다. 나이는 {a["age"]}입니다.\n 저희 작은 누나의 이름은{b["name"]}이고 나이는 {b["age"]}입니다.\n큰 누나의 이름은 {c["name"]}이고 나이는 {c["age"]}입니다')

나의 이름은 차진욱입니다. 나이는 30입니다.
 저희 작은 누나의 이름은차명은이고 나이는 36입니다.
큰 누나의 이름은 차미란이고 나이는 38입니다

In [338]:
a = {'name':'차진욱', 'age':30}
f'나의 이름은 {a["name"]}입니다. 나이는 {a["age"]}입니다'

'나의 이름은 차진욱입니다. 나이는 30입니다'

In [342]:
f'{"hi":>^10}'

'>>>>hi>>>>'

In [346]:
'{0:<^20}'.format('hi')

'<<<<<<<<<hi<<<<<<<<<'

In [348]:
a = 1.23456789
f'{a:0.4f}'

'1.2346'

In [350]:
a = 1.23456789
'{0:0.4f}'.format(a)

'1.2346'

In [364]:
a = 'hello'
b = 'ddddddddddddddddeeeeeeeee'
a.count('l')
b.count('a')
b.find('d')

0

In [371]:
#find 함수와 index 함수 차이점은 문자열 안에 존재 하지 않는 문자를 찾으면 오류가 발생한다. 

a = 'hello'
a.index('h')
a.find('c')
a.index('c')

a.find('c')

ValueError: substring not found

In [374]:
' '.join('abcd')

'a b c d'

In [376]:
a = 'hi'
a.upper()

'HI'

In [378]:
a = 'HI'
a.lower()

'hi'

In [381]:
a = '             hi   my name is jin wook    '
a.strip()

'hi   my name is jin wook'

In [383]:
a = 'life is too short'
a.replace("life","My name")

'My name is too short'

In [408]:
a = 'life,is,too,short'
a.split(',')

['life', 'is', 'too', 'short']

In [412]:
a = "life: is: too: short"
a.split(':')

['life', ' is', ' too', ' short']

In [416]:
a = [1,2,3,4,5,6,7]
a[0] + a[-1]

8

In [421]:
a = [1,2,3,4,[1,2,3,4,5,6,7]]
a[-1]

[1, 2, 3, 4, 5, 6, 7]

In [435]:
a = [1,2,3,4,[1,2,3,4,5,6,[7,8,9]]]
a[-1][-1][-1]

9

In [442]:
a = [1,2,[3,4,[5,6]]]
a[2][2][1]

6

In [448]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [450]:
a = '1234567'
a[0:7]

'1234567'

In [474]:
a = [1,2,3,['a','b','c','d',[6,7,8]],4,5]
a[3][4][0]

6

In [483]:
a = ['a','b','c']
a*4

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [485]:
a = ['a','b','c']
len(a*4)

12

In [500]:
a = 12
type(a)
dir(a)
b = 'hi'
type(b)
dir(b)
str(a)+b

'12hi'

In [502]:
a = ['a','b','c']
a[2] = 'abc'
a

['a', 'b', 'abc']

In [506]:
a = ['a','b','c']
del a[0]
a

['b', 'c']

In [512]:
a = ['a','b','c']
a.append(str(4))
print(a)
a.sort()
a

['a', 'b', 'c', '4']

['4', 'a', 'b', 'c']

In [515]:
a = ['a','b','c']
a.reverse()
a
a.sort()
a

['a', 'b', 'c']

In [524]:
a = ['a','b','c']
a.insert(3,'d',)
a

['a', 'b', 'c', 'd']

In [525]:
a = ['a','b','c','d','e']
a.index('a')
a.remove('a')
a.index('a')

ValueError: 'a' is not in list

In [528]:
a = 'hello'
a.count('l')

2

In [535]:
a = ['a','b','c']
a.extend(['d','e','f'])
b = ['g','h','i','j']
a.extend(b)
a

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [534]:
#튜플과 리스트는 비슷하지만 큰 차이는 값을 변화시킬 수 있는가 여부이다.
#리스트 항목 값은 변화가 가능하고 튜플의 항목 값은 변화가 불가능하다. 
#따라서 프로그랭이 실행되는 동안 그 값이 항산 변하지 않기를 바란다면 투플을 사용해야한다.
#반대로 수시로 값을 변화시켜야한다면 리스틀르 사용해야 한다. 
#실제 프로그램에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 평균적으로 튜플보다는 리스트를 더 많이 사용한다.

In [537]:
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [539]:
t1 = (1,2,'a','b')
t1[1] = 'c'

TypeError: 'tuple' object does not support item assignment

In [544]:
t1 = (1,2,'a','b')
t1.index(1)

0

In [549]:
t1 = (1,2,'a','b',(4,5,6))
t1[4][0]
print(len(t1))

5

In [562]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
a[0] = 'b'
a[9] = 'c'

{'name': 'jinwook', 'Phone': '01021138534', 'birth': 940808, 0: 'b', 9: 'c'}

In [565]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
del a['name']
a
#del로 지울때는 key 는 지울 수 있지만 value는 지울 수 없다.

{'Phone': '01021138534', 'birth': 940808}

In [571]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
a['name']
a['jinwook']
#value로는 key를 찾을수가 없다.

KeyError: 'jinwook'

In [579]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
a['birth']

940808

In [577]:
a = 160 + 165 +300 + 187.18 +100 
a

912.1800000000001

In [580]:
a = 66.47+(13.75*115)+(5*167)-(6.67*26)
a

2309.3

In [587]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
a.keys()
for k in a.keys():
    print(k)

name
Phone
birth

In [590]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
type(str(a.keys()))

str

In [597]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
type(list(a.values()))

list

In [612]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
a.items()
a.clear()
a
type(a)
type(a.clear)
dir(a.clear)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [630]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
print(a.get('name'))

#위의 둘의 차이점은 아래 In(627)과 같이 None 값을 돌려준다는 점이다.

jinwook

In [627]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}

print(a.get('rocket'))

None

In [632]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}

print(a['rocket'])

KeyError: 'rocket'

In [635]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
a.get('name','디폴트값')

'jinwook'

In [640]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
a.get('birteh','00000000000')

'00000000000'

In [643]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
'birth' in a

True

In [664]:
a = ['name','jinwook','phone']
type(a)
dir(a)

'name' in a

True

In [665]:
a = {'name':'jinwook', 'Phone':'01021138534', 'birth':940808}
a.index(0)

AttributeError: 'dict' object has no attribute 'index'

In [666]:
s1 = set([1,2,3])
s1
type(s1)
dir(s1)
s1.clear()
print(s1)
s1.add(4)
print(s1)
s1

s2 = set([4,5,6,3,2,1,0,9])
s2
#집합자료형의 특징 중복을 허용하지 않는다. 
#순서가 없다.

set()
{4}

{0, 1, 2, 3, 4, 5, 6, 9}

In [672]:
#set상태에서는 인덱싱을 할수가 없다. 
s1 = set([1,2,3,4])
a = list(s1)
print(a)
a[0]

b = tuple(s1)
print(b)
b[0]

#따라서 이와 같이 리스트나 튜플로 바꾸어 줘야한다.

[1, 2, 3, 4]
(1, 2, 3, 4)

1

In [674]:
#교집합
s1 = set([1,2,3,4,5,6,7,8])
s2 = set([3,4,5,6,7,8,9,0])

s1&s2

{3, 4, 5, 6, 7, 8}

In [681]:
#합집합
print(s1|s2)

print(s1.union(s2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [687]:
#차집합

print(s1 - s2)

print(s2 - s1)

print(s1.difference(s2))

print(s2.difference(s1))

{1, 2}
{0, 9}
{1, 2}
{0, 9}

In [698]:
list(s1)
type(list(s1))
list(s1)[0]

1

In [701]:
s1.add(11)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 11}

In [703]:
s1.update([12,13,11])
s1

#중복을 허용하지 않는다.

{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13}

In [708]:
1 in s1

True

In [713]:
a == a 
type(a)

list

In [719]:
a = True
b = False
type(a)
print(type(a))

<class 'bool'>

In [722]:
1 == 1

True

In [727]:
a = 1
b = 2
a > 2

False

In [733]:
a = [1,2,3,4,5,6]
while a:
    print(a.pop())
   
a

# while는 참일때만 반복된다. 
# a는 빈 리스트가 되면서 거짓이 된다. 따라서 while이 정지된다. 
# pop으로 뒤에 숫자부터 하나씩 나타내고 그 리스트를 지운다 따라서
# 마지막으로 1이 나타난후 a의 리스트에는 아무것도 남지 않는다.

6
5
4
3
2
1

[]

In [734]:
a = [1,2,3,4,5]
print(a.pop())

5

In [736]:
#[] 는 거짓 빈칸은 전부 거짓
if[]:
    print('True')
else:
    print('False')

False

In [738]:
#빈칸인 아니면 거짓이 아니다 .
if['python']:
    print('True')
else:
    print('False')

True

In [747]:
print(bool('pyhon'))

print(bool())

print(bool({}))

print(bool(''))

print(bool(1))

print(bool(0))

True
False
False
False
True
False

In [760]:
# =(assignmen)
a = 1
b = 'python'
c = [1,2,3]

id(c)

#id는 리스트 주소값

2261706303816

In [767]:
a = 1
b = 'python'
c = [1,2,3]

a is b

False

In [771]:
a = 1
b = 'python'
c = [1,2,3]

c[2] = 4

c

[1, 2, 4]

In [787]:
# a=b일때는 ERROR b=a일때는 작동
a = [1,2,3,4]
b = a

print(a is b)

a[1] = 0
print(a)

print(a is b)

print(b is a)

True
[1, 0, 3, 4]
True
True

In [788]:
#copy module을 사용할 경우 위와는 다르게 a와 b가 서로 다른 객체이다. 

a = [1,2,3,4,5]
from copy import copy
b = copy(a)

print(a)

print(b)

print(a is b)

print(b is a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
False
False

In [789]:
#변수를 만드는 방법

In [791]:
#리스트 변수

[a,b] = ['life', 'short']

In [797]:
#연습문제
a = 80
b = 75
c = 55

(a + b + c )/3

70.0

In [813]:
print(1%2)

print(2%2)

print(3%2)

print(4%2)

print(12%2)

print(13%2)

#이런식으로 홀수인지 짝수인지 판별가능 짝수는 2로 나눌때 나머지가 0이고
#홀수는 2로 나눌때 나머지가 1이다.

1
0
1
0
0
1

In [817]:
pin = "881120-1068234"

print(pin[0:6])
print(pin[7:])

881120
1068234

In [831]:
pin = "881120-1068234"
pin[7]

'1'

In [839]:
a = "a:b:c:d"
a.replace("a:b:c:d",'a#b#c#d')

a

'a:b:c:d'

In [842]:
a = "a:b:c:d"
b = a.replace(':','#')
b

'a#b#c#d'

In [856]:
a = [1,3,5,4,2]
type(a)
dir(a)
a.sort()
a

print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [860]:
a = ['life','is','too','short'] 
' '.join(a)

'life is too short'

In [863]:
t1 = (1,2,3)
t2 = (4,)
type(t1)

t1 + t2

(1, 2, 3, 4)

In [870]:
a = dict()

type(a)

a['name'] = 'python'
a

a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python' --> 사용이 안된다. 이것만 리스트로써 변하는 값
a[250] = 'python'


#문자열, 튜플, 숫자는 변하지 않는(immutable) 값이므로 딕셔너리의 키로 사용이 가능하다.

SyntaxError: invalid syntax (<ipython-input-870-f8c06056b79d>, line 10)

In [875]:
a = {'A':90, 'B':80, 'C':70}

dir(a)

a.pop('B')

a

#pop된 값은 사라진다.

{'A': 90, 'C': 70}

In [879]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

type(a)
dir(a)

set(a)

{1, 2, 3, 4, 5}

In [880]:
#파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

 a = b = [1, 2, 3]

    
a[1] = 4

print(b)이면 
a = b = [1,4,3]이 성립한다. 둘의 값이 같이 변경된다. 
이떄 b = a 일떄 True가 성립한다. 
그러나 copy함수를 사용할때에는 둘의 각자의 객체가 달라 b = a에서 false가 성립한다.


정답: [1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

IndentationError: unexpected indent (<ipython-input-880-ed36b1b5f891>, line 3)