In [9]:
l = [1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [15]:
a = [(1,2,3,4),(5,6,7,0),(8,9,0,3)]
for (b,c,d,e) in a:
    print(b + c + d + e)

10
18
20

In [27]:
a = [90, 25, 67, 45, 80, 5, 90]

number = 0
5 > number
for b in a:
    number = number + 1
   
    if b >= 60:
        print('%d번 학생은 합격입니다.' % number)
    else:
        print('%d번 학생은 불합격입니다.' % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.
6번 학생은 불합격입니다.
7번 학생은 합격입니다.

In [33]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print('%d번 학생 축하합니다. 합격입니다.' % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [37]:
a = range(10)
a

range(0, 10)

In [40]:

add  = 0
for i in range(0,11):
    add = add + i
    
print(add)

55

In [45]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number]< 60:
        continue
    print('%d번 학생 축하합니다. 합격입니다.' % (number))

0번 학생 축하합니다. 합격입니다.
2번 학생 축하합니다. 합격입니다.
4번 학생 축하합니다. 합격입니다.

In [60]:
a = range(11)
a

a = 0
for i in range(12):
    a = a+ i
    
print(a)

66

In [62]:
marks = [90,25,67,45,80]
for number in range(len(marks)):
    if marks[number]< 60:
        continue
    print('%d번 학생 축하합니다. 합격입니다. ' % (number + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [69]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j,end=' ')
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [73]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j)
    print(' ')

2
4
6
8
10
12
14
16
18

3
6
9
12
15
18
21
24
27

4
8
12
16
20
24
28
32
36

5
10
15
20
25
30
35
40
45

6
12
18
24
30
36
42
48
54

7
14
21
28
35
42
49
56
63

8
16
24
32
40
48
56
64
72

9
18
27
36
45
54
63
72
81

In [74]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
    
print(result)

[3, 6, 9, 12]