In [ ]:
a = '홍길동'
국어 = 80
영어 = 75
수학 = 55
av = (국어 + 영어 + 수학)//3
print(av)

In [ ]:
for i in range(1,14):
    if i % 2== 1:
        print(i)

In [ ]:
for i in range(1,14):
    if i %2 == 0:
        print(i)

In [ ]:
a = "881120-1068234"
b = a[:6]
c = a[7:]
print(b)
print(c)

In [ ]:
a = 'a:b:c:d'
b = a.replace(':',"#")
print(b)

In [ ]:
a = [1,3,5,4,2]
dir(a)
a.sort()
a.reverse()
print(a)

In [ ]:
a = ['life', 'is', 'too', 'short']
b = ' '.join(a)
print(b)

In [ ]:
t1 = (1,2,3)
t2 = (4,)
t1+t2

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13]
for i in num:
    if i%2 ==0:
        print(i)

In [ ]:
for i in range(1,14):
    if i%2 == 1:
        print(i)

In [ ]:
print('shirt')

In [ ]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

In [ ]:
i = 0
while True:
    i += 1
    if  i > 5: break
    print('*' * i)

In [ ]:
i = range(1,1001)
while True:
    i = i * 3
    if i > 1000: break
    print(i)

In [ ]:
i = 0
while True:
    i += 1
    if i>5: break
    print('*' * i)

In [12]:
result = 0
i = 1
while i <= 1000:
    if i %3 == 0:
        result += i
    i += 1
    
print(result)

166833

In [14]:
result = 0
i = 1
while i <= 1000:
    i += 1
    if i %3 == 0:
        result += i
    
print(result)

166833

In [17]:
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
result = 0

for i in a:
    result += i
    average = result/ len(a)
    
print(average)

79.0

In [23]:
numbers = [1,2,3,4,5,6,7]
result= []
for i in numbers:
    if i % 2 == 0:
        result.append(i*3)
print(result)

[6, 12, 18]

In [25]:
nembers = [1,2,3,4,5,6,7]
result=[i*3 for i in numbers if i % 2 == 0]
print(result)

[6, 12, 18]