# 리스트, 튜플

In [ ]:
## 변수에 값을 저장할 때 [](대괄호)로 묶어주면 리스트가 되며 각 값은, 콤마로 구분해준다, 
#리스트=[값,값,값]

In [2]:
#리스트 만들기
a = [38,21,53,62,19]
a

[38, 21, 53, 62, 19]

In [3]:
#리스트에 여러 가지 자료형 저장하기 
# 리스트는 문자열, 정수 , 실수, 불 등 모든 자료형을 저장할 수 있으며 자료형을 섞어서 저장해도 된다. 

person = ['james',17,175.3,True]
person

#이 처럼 리스트에 여러 가지 자료형을 사용하면 관련 정보를 하나로 묶기 좋다.

['james', 17, 175.3, True]

In [7]:
# 빈 리스트 만들기

b = list()
b

[]

In [ ]:
a = []
a
#위의 두 방법으로 빈 리스트를 만들 수 있다. 
# 빈 리스트를 이용해서 새 값을 추가 하는 방식으로 사용한다.

In [8]:
# range를 이용하여 리스트 만들기

range(10)

# 이때 결과로 range(0,10)이 나와서 10까지 생성될 것 같지만 10은 포함되지 않습니다.

range(0, 10)

In [10]:
a = list(range(10))
a
# 파이썬은 0 베이스이기 때문에 항상 시작을 0부터 시작한다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
#리스트 = list(rnage(시작, 끝))

b = list(range(5,12))
b

#5부터 11까지

[5, 6, 7, 8, 9, 10, 11]

In [13]:
#리스트 = list(range(시작,끝, 증가폭))

list(range(-4, 15, 2))

[-4, -2, 0, 2, 4, 6, 8, 10, 12, 14]

In [17]:
# 증가폭을 음수로 지정할 경우

list(range(2,-15,-2))

[2, 0, -2, -4, -6, -8, -10, -12, -14]

In [ ]:
# 튜플을 사용하기 

#튜플은 리스트처럼 요소를 일렬로 저장하지만, 안에 저장된 요소를 변경, 추가, 삭제 할 수 없습니다. 
#간단하게 읽기 전용 리스트라고 할 수 있다. 
#변수 값을 저장할 떄 ()로 묶어주면 튜플이 되며 각 값은, ,(콤마)로 구분해준다 .또는
#괄호로 묶지 않고 값만 콤마로 구분해도 튜플이 된다. 

#튜플 = (값,값,값)
#튜플 =값,값,값

In [20]:
# 튜플 만들기

a =(1,2,3,4,5)

a

type(a)

tuple

In [21]:
b = 1,2,3,4,5
b
type(b)

tuple

In [23]:
# 튜플도 리스트처럼 여러 자료형을 섞어서 저장해도 된다.

person = ('james',17,170.5,True)
person
type(person)

tuple

In [ ]:
# 저장된 요소를 변경, 추가,삭제할 수도 없는 튜플을 왜 만들었을까?
# 파이썬 프로그래밍에서 튜플을 사용하는 쪽이 더 유리한 때도 있기 때문이다. 
# 보통 튜플은 요소가 절대 변경되지 않고 유지되어야 한다. 

#튜플을 만든 상태에서 요소를 변경하게 되면 에러가 발생하게 된다. 따라서 요소를 실수로 변경하는 상황을 방지할 수 있다. 
# 요소를 자주 변경해야 할 때는 리스트를 사용한다, 보통 실무에서는 요소를 변경하는 경우가 많으므로 튜플보다 리스트를 더 자주 사용하는 편이다.

# 요소가 한 개 들어있는 튜플 만들기

In [24]:
(38)

# 다음과 같이 값 한 개를 괄호로 묶으면 튜플이 아니라 그냥 값이 된다.

38

In [27]:
#요소가 한 개인 튜플을 만들 때는 () 안에 값 한개를 넣고 , (콤마)를 붙인다. 또는 괄호로 묶지 않고 값 한 개에 , 를 붙여도 된다

#튜플 =(값,)
#튜플 = 값, 

# (38,)

38,

(38,)

In [ ]:
# 튜플은 요소를 변경, 추가 , 삭제할 수도 없는데 값 한 개짜리 튜플은 왜 필요할까?
#함수를 사용하다 보면 값이 아닌 튜플을 넣어야 할 경우가 생긴다. 이때 값은 한 개지만
#튜플을 넣어야 할 때 (값, )과 같은 형식을 사용해야한다.

# range를 사용하여 튜플 만들기

In [29]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [31]:
b = tuple(range(5,12))
b

(5, 6, 7, 8, 9, 10, 11)

In [34]:
c = tuple(range(5,-20,-2))
c

(5, 3, 1, -1, -3, -5, -7, -9, -11, -13, -15, -17, -19)

# 튜플을 리스트로 만들고 리스트를 튜플로 만들기

In [35]:
a = [1,2,3]         # a = 리스트이다
tuple(a)       #리스트를 튜프롤 바꾸어준다

(1, 2, 3)

In [37]:
b = 1,2,3  #b = 튜플
b
list(b)  #튜플을 리스트로 바꾸어준다

[1, 2, 3]

In [38]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [46]:
# 리스트와 튜플로 변수 만들기

a,b,c =[1,2,3]
print(a,b,c, end='\n')


a,b,c = (1,2,3)
print(a,b,c, sep =' ,')

1 2 3
1 ,2 ,3

In [78]:
#리스트 언패킹과 튜플 언패킹 


x = list(range(1,4))
a,b,c = x
print(a,b,c)

y = [4,5,6]
d,e,f = y
print(d,e,f)

z = (7,8,9)
d,e,f = z
print(d,e,f)

1 2 3
4 5 6
7 8 9

In [82]:
input().split() #문자열 리스트로 숫자가 나온다

10 20

['10', '20']

In [3]:
x = input().split()
a,b = x
print(a,b)

10 20
10 20

In [88]:
# 리스트 패킹과 튜플 패킹은 변수에 리스트 또는 튜플을 할당하는 과정을 뜻한다.

a = [1,2,3]
b = (1,2,3)
c = 1,2,3

print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

[1, 2, 3] (1, 2, 3) (1, 2, 3)
<class 'list'>
<class 'tuple'>
<class 'tuple'>

In [91]:
a = int(input())
b = tuple(range(-10, 10 , 3))
print(b)

3
(-10, -7, -4, -1, 2, 5, 8)