# 파이썬 연습

In [49]:
print('Hello world!')   ## 문자열은 ' '으로 표시해야 나타난다.  

#print(Hello world)                 ##이렇게 적으면 구문 에러가 나온다 ==> invalid syntax 옆에 따옴표 해주면된다.

Hello world!

# 들여쓰기

In [50]:
# 들여쓰기는 코드를 일기 쉽도록 일정한 간격을 띄워서 작성하는 방법이다. 
# 특히 파이썬은 들여쓰기 자체가 문법임.
# 예를 들어 if의 다음 줄은 항상 들여쓰기를 해야한다. 
# 만약에 들여 쓰기를 하지 않으면 문법 에러가 발생한다.

In [51]:
a = 10
if a == 10:
    print('10')                                          ## 현재 셀에서는 값이 나오는데 
                                                        ## 아래 에서는 들여쓰기가 되어 있지 않아서 
                                                        ## 에러가 나는것을 볼 수 있다.

10

In [52]:
if a == 10:
print('10')                                      # if 아래에 스페이스바로 공백이 4칸이여야 한다.

IndentationError: expected an indented block (<ipython-input-52-aa52f5c4bad3>, line 2)

# 숫자 계산하기

In [35]:
#파이썬에서 숫자의 자료형이 여러개가 있다,
# int = 정수형 
# float = 실수형
# complex 복소수 
# 거의 정수와 실수 위주로 사용하기는 한다.

In [36]:
1+1

2

In [37]:
1-2

-1

In [38]:
2*2

4

In [39]:
4/2  # 결과 값이 실수가 나온다 // 파이썬에서는 정수끼리 나누어도 실수가 나옴

2.0

# 나눗셈 후 소수점 이하를 버리는///연산자

In [53]:
5//2   ##원래는 2.5 인데 0.5를 버린다

2

##참고로  실수 // 실수의 경우

In [54]:
5.5//2.0                ## 소숫점 이하를 무조건 버리므로 .0으로 항상 끝난다.

2.0

# 나눗셈 후 나머지를 구하는 % 연산자

In [55]:
5 % 2

1

# 거듭제곱을 구하는 연산자

In [47]:
2 ** 10

1024

# 값을 정수로 만들기

In [57]:
int(3.3)                            ## 3.3은 실수 인데 int를 사용하여 정수로 만들어주면 3이 된다.

3

In [58]:
int(5/2)                                # 계산식에서도 사용가능

2

In [63]:
int('10')                               # 문자열에서도 사용

10

# 객체의 자료형 알아내기

In [60]:
type(10)   #정수

int

In [61]:
type(10.0)    #실수

float

In [62]:
type('10.0')         #문자열

str

# 몫과 나머지 함께 구하기

In [64]:
divmod(5,2)                # divmod(5, 2)-> 5나누기 2 /// (2, 1 )--> 몫이 2이고 나머지가 1

(2, 1)

# 2진수 , 8진수 , 16진수

In [ ]:
# 2진수 : 숫자 앞에 0b를 붙이면 0과 1을 사용합니다. 
# 8진수 : 숫자 앞에 0o(숫자 0과 소문자 o) 를 붙이면 0부터 7까지 사용합니다.
# 16진수 : 숫자 앞에 0x 또는 0X를 붙이면 0부터 9, A부터 F까지 사용합니다

In [65]:
# 2진수

0b110                   ## 2^2 + 2^1 = 6

6

In [66]:
# 8진수

0o10

8

In [67]:
# 16진수

0xF             # 0xF= 0xf

15

# 값을 실수로 만들기

In [68]:
float(5) #숫자

5.0

In [69]:
float(1+2)    #계산식

3.0

In [70]:
float('5.5')           #문자열

5.5

In [72]:
type(3.5)

float

# 변수와 입력 사용하기

In [74]:
# 변수 이름 = 값 

x = 10

x

10

In [ ]:
# 변수 이름 지정 규칙

# 영문 문자와 숫자를 사용할 수 있다
# 대소문자를 구분합니다. 
# 문자부터 시작해야 하며 숫자부터 시작하면 안됩니다. 
# _ (밑줄 문자)로 시작할 수 있습니다. 
# 특수문자는 사용할 수 없습니다.
# 파이썬의 키워드는 사용할 수 없습니다.

In [75]:
y = 'hello, world!'
y

'hello, world!'

# 변수의 자료형 알아내기

In [76]:
type(x)

int

In [77]:
type(y)        # 변수의 자료형은 변수에 뭘 넣느냐에 따라 달라진다.

str

# 변수 여러개를 한번에 만들기

In [81]:
x,y,z = 10,20,30             # 변수이름1, 변수이름2, 변수이름3, = 값1, 값2, 값3 
print(x)                    # 변수와 값의 개수는 동일하게 맞춰주어야 한다. 
print(y)                     #나열된 순서로 값이 할당된다. 
print(z)

10
20
30

In [83]:
# 값이 모두 같을떄 
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

In [85]:
# 변수끼리 바꾸기

x,y = 10,20            #여기서 x= 10 y= 20
x,y = y,x                #여기서 다시 x= 20 , y= 10

print(x)
print(y)

20
10

In [87]:
# 변수 삭제하게

del x

x       ## 변수가 사라졌다.

NameError: name 'x' is not defined

In [89]:
# 빈 변수 만들기

x= None
print(x)
  ## R에서의 Null형태

None

In [91]:
# 변수로 계산하기 

a = 10
b = 20
c = a + b
c

30

In [210]:
#산술 연산 후 할당 연산자 사용

a = 10
d = a+ 20
print(d)
print(a)

30
10

In [211]:
a +=20             ## 더한 값을 다시 a에다가 저장  += 이라고 사용한다 
a                  ## 다시 한번 a를 적을 필요가 없음

30

# 입력 값을 변수에 저장하기

In [230]:
# input 함수 사용하기

input()

Hello, world!

'Hello, world!'

In [231]:
x = input()

Hello, world

In [232]:
x

'Hello, world'

In [233]:
x = input('문자열을 입력하세요:')

문자열을 입력하세요:Hello, world

In [234]:
x

'Hello, world'

In [ ]:
# 입력해서 값 구하기

In [235]:
a = input('첫 번째 숫자를 입력하세요')
b = input('두 번째 숫자를 입력하세요')
 
print(a+b)                 ### 숫자가 더해지지 않고 합해져 있다.

첫 번째 숫자를 입력하세요10
두 번째 숫자를 입력하세요20
1020

In [236]:
type(a)        #a의 타입이 str 즉 문자열임을 알 수 있다.

str

In [237]:
# 입력 값을 정수로 변환하기 

a= int(input('첫 번째 숫자를 입력하세요:'))
b= int(input('두 번째 숫자를 입력하세요:'))

print(a + b)

첫 번째 숫자를 입력하세요:10
두 번째 숫자를 입력하세요:20
30